*{

    margin: 0;
    padding: 0;
}
body{
    background-color:#5eedef3a;
    transition: 1s;
}

.row{
    border-radius: 30px;
    background-color: #fff;
 margin-top: 30px;
}
img{
    width: 100%;
    padding: 10px;
    margin: 0px 10px;
}
form{
    margin: 20px 0px;
    border-radius: 30px;
    padding: 20px;
    transition: 1s;
}
form:hover{
    box-shadow: 2px 2px 20px 2px;
}
form .form-group{
    margin: 20px 10px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}